{% extends 'layout.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Schedule</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
    {% if unavail %}
    <button type="button" class="btn btn-sm btn-outline-success me-2 mb-2" data-bs-toggle="modal" data-bs-target="#createWeekModal">
      <span data-feather="plus-circle" class="align-text-bottom"></span>
      Create
    </button>
    {% else %}
    <button type="button" class="btn btn-sm btn-outline-danger me-2 mb-2" data-bs-toggle="modal" data-bs-target="#deleteWeekModal">
      <span data-feather="trash-2" class="align-text-bottom"></span>
      Delete
    </button>
    {% endif %}
    <a href="{{ url_for('admin.viewTemplates') }}" type="button" class="btn btn-sm btn-outline-primary me-2 mb-2">
      <span data-feather="bookmark" class="align-text-bottom"></span>
      Templates
    </a>
    <a href="{{ url_for('admin.configureSchedule', week=weekOf.strftime('%Y-%m-%d')) }}" type="button" class="btn btn-sm btn-outline-secondary me-2 mb-2">
      <span data-feather="refresh-cw" class="align-text-bottom"></span>
    </a>
    <div class="btn-group me-2 mb-2">
      <a href="{{ url_for('admin.configureSchedule', week=owp.strftime('%Y-%m-%d')) }}" type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="arrow-left-circle" class="align-text-bottom"></span> Previous Week</a>
      <a href="{{ url_for('admin.configureSchedule', week=owl.strftime('%Y-%m-%d')) }}" type="button" class="btn btn-sm btn-outline-secondary">Next Week <span data-feather="arrow-right-circle" class="align-text-bottom"></span></a>
    </div>
    <a href="{{ url_for('admin.configureSchedule') }}" type="button" class="btn btn-sm btn-outline-secondary mb-2">
      <span data-feather="calendar" class="align-text-bottom"></span>
      Today
    </a>
  </div>
</div>
<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-1">
	<div class="me-2" style="font-style: italic;">Viewing week of <b>{{ weekOf.strftime('%B %d, %Y') }}</b></div>
	{% if unavail %}<div class="text-danger ml-auto" style="font-style: bold;"><span data-feather="alert-circle" class="align-text-bottom"></span> A schedule for this week has not yet been created. Click "Create" to make a schedule.</div>{% endif %}
  <div data-bs-toggle="tooltip" data-bs-placement="left" title="Click to switch to viewing" class="ms-auto clickable" onclick="window.location = '{{ url_for('main.schedule', week=weekOf.strftime('%Y-%m-%d')) }}'"><span data-feather="edit"></span> Editing</div>
</div>
<div class="table-responsive" {% if unavail %} style="opacity: 25%;" {% endif %}>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">Hour</th>
        {% for day in weekdays %}
        <th scope="col" class="text-center">{{ day['name'] }} ({{ day['date'] }})</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for hour in hours %}
      <tr>
        <td class="text-center">{{hour}}</td>
        {% for day in days %}
        <td class="text-center">
        {% for shift in day.shifts %}
        	{% if shift.startTime.strftime('%H00') == hour %} 
          <a href="{{ url_for('admin.editShift', shift_id=shift.id) }}" class="btn btn-secondary btn-xs">{{ shift.name }}</a>
          {% else %}
          {% endif %}
    	  {% endfor %}
		  <a href="{{ url_for('admin.addShift', datetime=day.date.strftime('%Y-%m-%d-')+hour) }}" class="add-shift-link">
  			<span data-feather="plus-circle" class="align-text-bottom"></span>
		  </a>
        
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% if unavail %}
<div class="modal fade" id="createWeekModal" tabindex="-1" role="dialog" aria-labelledby="createWeekModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createWeekModalTitle">Create a New Schedule</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      	Continuing will create a new schedule for the week of <b>{{ weekOf.strftime('%B %d, %Y') }}</b>.<br>
      	This will allow you to create shifts and assign employees to them for days during this week. Shifts will not be automatically applied to the weekdays until you specifically assign them.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method='POST' action=''>
			{{ newWeekScheduleForm.hidden_tag() }}
			{{ newWeekScheduleForm.submitNewWeek(class='btn btn-success') }}
		</form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="modal fade" id="deleteWeekModal" tabindex="-1" role="dialog" aria-labelledby="deleteWeekModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteWeekModalTitle">Delete Schedule</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      	Continuing will <b><u>DELETE</u></b> the schedule for the week of <b>{{ weekOf.strftime('%B %d, %Y') }}</b>.<br>
      	This will <b>PERMANENTLY</b> delete the specified schedule. All shifts and employee sign-ups added to the schedule for this week will be deleted.<br>There is almost <b>never</b> a reason to perform this action, unless you have created an empty schedule in error or want to re-create a schedule from scratch.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method='POST' action=''>
			{{ deleteWeekScheduleForm.hidden_tag() }}
			{{ deleteWeekScheduleForm.submitDeleteWeek(class='btn btn-danger') }}
		</form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}