{% extends 'layout.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Register a New Account</h1>
</div>
<form method='POST' action='' class='d-flex flex-column px-3 pt-3 pb-3 border bg-light' style='max-width: 35rem;'>
{{ form.hidden_tag() }}
<fieldset class='form-group'>
	<div class='form-group'>
		{{ form.csoid.label(class='form-control-label mb-2') }}
		
		{% if form.csoid.errors %}
			{{ form.csoid(class='form-control form-control-lg is-invalid mb-4', style='max-width: 5rem;', placeholder='01') }}
			<div class='invalid-feedback'>
				{% for error in form.csoid.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.csoid(class='form-control form-control-lg mb-4', style='max-width: 5rem;', placeholder='01') }}
		{% endif %}
	</div>
	<div class='form-group'>
		{{ form.name.label(class='form-control-label mb-2') }}
		
		{% if form.name.errors %}
			{{ form.name(class='form-control form-control-lg is-invalid mb-4', placeholder='John Doe') }}
			<div class='invalid-feedback'>
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.name(class='form-control form-control-lg mb-4', maxlength='300', placeholder='John Doe') }}
		{% endif %}
	</div>
	<div class='form-group'>
		{{ form.email.label(class='form-control-label mb-2') }}
		
		{% if form.email.errors %}
			{{ form.email(class='form-control form-control-lg is-invalid mb-4', placeholder='jdoe@ucsb.edu') }}
			<div class='invalid-feedback'>
				{% for error in form.email.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.email(class='form-control form-control-lg mb-4', maxlength='256', placeholder='jdoe@ucsb.edu') }}
		{% endif %}
	</div>
	<div class='form-group'>
		{{ form.phone.label(class='form-control-label mb-2') }}
		
		{% if form.phone.errors %}
			{{ form.phone(class='form-control form-control-lg is-invalid mb-4', placeholder='805-893-2000') }}
			<div class='invalid-feedback'>
				{% for error in form.phone.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.phone(class='form-control form-control-lg mb-4', maxlength='20', placeholder='805-893-2000') }}
		{% endif %}
	</div>
	<div class='form-group'>
		{{ form.password.label(class='form-control-label mb-2') }}
		{% if form.password.errors %}
			{{ form.password(class='form-control form-control-lg is-invalid mb-2') }}
			<div class='invalid-feedback'>
				{% for error in form.password.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.password(class='form-control form-control-lg mb-4', style='') }}
		{% endif %}
	</div>
	<div class='form-group'>
		{{ form.confirm.label(class='form-control-label mb-2') }}
		{% if form.confirm.errors %}
			{{ form.confirm(class='form-control form-control-lg is-invalid mb-2') }}
			<div class='invalid-feedback'>
				{% for error in form.confirm.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.confirm(class='form-control form-control-lg mb-4', style='') }}
		{% endif %}
	</div>
{#	<div class="form-group">
		{{ form.recaptcha.label(class='form-control-label') }}
		{% if form.recaptcha.errors %}
			{{ form.recaptcha }}
			<div style='font-size: 80%; color: #dc3545;'>
				{% for error in form.recaptcha.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
		{{ form.recaptcha }}
		{% endif %}
	</div> #}
</fieldset>
<div class='d-flex flex-wrap flex-md-nowrap align-items-center form-group'>
	{{ form.submit(class='btn btn-primary') }}
	<small class="px-2">Already have an account? <a href="{{url_for('users.login')}}">Log In</a>.</small>
</div>
</form>
</div>

{% endblock %}