{% extends 'layout.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Edit Shift</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
    <a href="{{ url_for('main.viewShift', shift_id=shift_id) }}" type="button" class="btn btn-sm btn-outline-secondary mb-2">
      <span data-feather="eye" class="align-text-bottom"></span>
    </a>
	</div>
</div>
<div class="d-flex" style='gap: 2rem; max-width:100vw; overflow-x: scroll;'>
	<form method='POST' action='' class='d-flex flex-column px-3 pt-3 pb-3 border bg-light' style='max-width: 27.1rem;'>
	{{ form.hidden_tag() }}
	<fieldset class='form-group'>
		<div class='form-group mb-4'>
			{{ form.shiftName.label(class='form-control-label mb-2') }} <red>*</red>
			
			{% if form.shiftName.errors %}
				{{ form.shiftName(class='form-control form-control-lg is-invalid', placeholder='Grave') }}
				<div class='invalid-feedback'>
					{% for error in form.shiftName.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
			{{ form.shiftName(class='form-control form-control-lg', placeholder='Grave') }}
			{% endif %}
		</div>
		<div class="d-flex" style="gap: 1rem;">
			<div class='form-group mb-4'>
				<label class='form-control-label mb-2'>Start Date:</label>
				<small><i>(mm/dd/yyyy)</i></small> <red>*</red>
				<input class='form-control form-control-lg' disabled id="startDate" value='{{ startDate }}' data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="To change the start date, select a different start date from the schedule."> 
			</div>
			<div class='form-group mb-4'>
				{{ form.startTime.label(class='form-control-label mb-2') }}
				<small><i>(hhmm)</i></small> <red>*</red>

				{% if form.startTime.errors %}
					{{ form.startTime(class='form-control form-control-lg is-invalid', placeholder=startTime, onChange='updateEndTime();') }}
					<div class='invalid-feedback'>
						{% for error in form.startTime.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
				{{ form.startTime(class='form-control form-control-lg', placeholder=startTime, onChange='updateEndTime();') }}
				{% endif %}
			</div>
		</div>
		<div class="d-flex justify-content-between" style="gap: 1rem;">
			<div class='form-group mb-4'>
				{{ form.duration.label(class='form-control-label mb-2') }}
				<small><i>(hhmm)</i></small> <red>*</red>
				
				{% if form.duration.errors %}
					{{ form.duration(class='form-control form-control-lg is-invalid', onChange='updateEndTime();', style='max-width: 8rem;') }}
					<div class='invalid-feedback'>
						{% for error in form.duration.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
				{{ form.duration(class='form-control form-control-lg', placeholder='0500', onChange='updateEndTime();', style='max-width: 8rem;') }}
				{% endif %}
			</div>
			<div class='form-group mb-4'>
				<label class='form-control-label mb-2'>End Date & Time:</label>
				<small><i>(mm/dd/yyyy, hhmm)</i></small>
				<input class='form-control form-control-lg' disabled id="endTime" value='---'>
			</div>
		</div>
		<div class="d-flex" style="gap: 1rem;">
			<div class='form-group mb-4'>
				{{ form.minEmployees.label(class='form-control-label mb-2') }} <red>*</red>
				
				{% if form.minEmployees.errors %}
					{{ form.minEmployees(class='form-control form-control-lg is-invalid') }}
					<div class='invalid-feedback'>
						{% for error in form.minEmployees.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
				{{ form.minEmployees(class='form-control form-control-lg', placeholder='5') }}
				{% endif %}
			</div>
			<div class='form-group mb-4'>
				{{ form.maxEmployees.label(class='form-control-label mb-2') }} <red>*</red>
				
				{% if form.maxEmployees.errors %}
					{{ form.maxEmployees(class='form-control form-control-lg is-invalid') }}
					<div class='invalid-feedback'>
						{% for error in form.maxEmployees.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
				{{ form.maxEmployees(class='form-control form-control-lg', placeholder='11') }}
				{% endif %}
			</div>
		</div>
	</fieldset>
	<div class='d-flex flex-wrap flex-md-nowrap align-items-center form-group' style='gap: 1rem;'>
		{{ form.submit(class='btn btn-primary') }}
		<button type="button" onclick="window.history.back()" class="btn btn-outline-secondary">
			Cancel
		</button>
	    <button type="button" class="btn btn-sm btn-danger ms-auto" data-bs-toggle="modal" data-bs-target="#deleteShiftModal">
	      <span data-feather="trash-2" class="align-text-bottom"></span>
	      Delete Shift
	    </button>
	</div>
	</form>
	{# <div class="vr"></div> #}
	<script type="text/javascript">
		async function fetchShiftsOfDay(){
			$('#shiftsOnDay').empty();
			$('#confirmCopyBtn').addClass('d-none');
			const select = $('#shiftsOnDay')[0];
			try {
				var date = new Date($('#copyDate').val());
				const offset = date.getTimezoneOffset();
				date = new Date(date.getTime() - (offset*60*1000));
				var resp = await $.getJSON('/api/day/byDate/'+date.toISOString().split('T')[0]);
				$('#copyDate').removeClass('is-invalid');
				$('#shiftsFormGroup').removeClass('d-none');
			} catch {
				$('#copyDate').addClass('is-invalid');
				$('#shiftsFormGroup').addClass('d-none');
				return;
			}
			shifts = false;
			for (const shift of resp.shifts) {
				shifts = true;
				let newOption = new Option(shift.name+' @ '+shift.startTime,shift.id);
				select.add(newOption, undefined);
			}
			if(!shifts){
				select.classList.add('is-invalid');
			} else {
				select.classList.remove('is-invalid')
				$('#confirmCopyBtn').removeClass('d-none');
			}
		}
		async function copyToCurrentShift(){
			const select = $('#shiftsOnDay');
			const shift = await $.getJSON('/api/shift/'+select.val());
			$('#shiftName').val(shift.name);
			$('#startTime').val(shift.startTime.split('-')[3]);
			$('#duration').val(shift.duration);
			$('#minEmployees').val(shift.minEmployees);
			$('#maxEmployees').val(shift.maxEmployees);
			$('#employees').val(shift.employees.join(', '));
			updateEndTime();
		}
		async function copyTemplate(){
			const select = $('#shiftTemplates');
			const shift = await $.getJSON('/api/template/'+select.val());
			$('#shiftName').val(shift.name);
			$('#startTime').val(shift.startTime);
			$('#duration').val(shift.duration);
			$('#minEmployees').val(shift.minEmployees);
			$('#maxEmployees').val(shift.maxEmployees);
			$('#employees').val(shift.employees.join(', '));
			updateEndTime();
		}
		async function loadTemplates(){
			const select = $('#shiftTemplates')[0];
			const resp = await $.getJSON('/api/template/list-all');
			console.log(resp.templates);
			var hasTemplates = false;
			for (const template of resp.templates) {
				hasTemplates = true;
				let newOption = new Option(template.name, template.id);
				select.add(newOption, undefined);
			}
			if(hasTemplates){
				$('#templatesFormGroup').removeClass('d-none');
				$('#confirmTemplateCopyBtn').removeClass('d-none');
				$('#noTemplatesMsg').addClass('d-none');
			} else {
				$('#templatesFormGroup').addClass('d-none');
				$('#confirmTemplateCopyBtn').addClass('d-none');
				$('#noTemplatesMsg').removeClass('d-none');
			}
		}
	</script>
	<div class="d-flex flex-column" style="gap: 1rem;">
		<div class='d-flex flex-column px-3 pt-3 pb-3 border bg-light align-self-start' style='max-width: 27.1rem;'>
			<h6><label class="form-control-label mb-2">Copy from another shift</label></h6>
			<div class='form-group mb-4'>
				<label class="form-control-label mb-2" for="copyDate">Date of other shift: <i>(mm/dd/yyyy)</i></label>
				<input name="copyDate" id="copyDate" class="form-control form-control-lg date" type="text" placeholder="{{ startDate }}" onchange="fetchShiftsOfDay()">
				<div class='invalid-feedback'>
					<span>Invalid Date</span>
				</div>
			</div>
			<div id="shiftsFormGroup" class='form-group mb-4 d-none'>
				<label class="form-control-label mb-2" for="shiftsOnDay">Shifts on this date:</label>
				<select name="shiftsOnDay" class="form-control form-control-lg form-select" id="shiftsOnDay">
				</select>
				<div class='invalid-feedback'>
					<span>No shifts on this date</span>
				</div>
			</div>
			<button id="confirmCopyBtn" onclick="copyToCurrentShift()" class="btn btn-outline-primary d-none" data-bs-toggle="tooltip" data-bs-placement="right" title="This will overwrite data input into the fields.">← Copy to This Shift</button>
		</div>
		<div class='d-flex flex-column px-3 pt-3 pb-3 border bg-light' style='max-width: 27.1rem;'>
			<h6><label class="form-control-label mb-2">Copy from template</label></h6>
			<div id="templatesFormGroup" class='form-group mb-4 d-none'>
				<label class="form-control-label mb-2" for="templates">Select a template:</label>
				<select name="templates" class="form-control form-control-lg form-select" id="shiftTemplates">
				</select>
			</div>
			<button id="confirmTemplateCopyBtn" onclick="copyTemplate()" class="btn btn-outline-primary d-none" data-bs-toggle="tooltip" data-bs-placement="right" title="This will overwrite data input into the fields.">← Copy to This Shift</button>
			<div id="noTemplatesMsg" class='d-flex flex-column'>
				<i>No templates have been created yet.</i><br>
				<a class="btn btn-outline-dark" href="{{ url_for('admin.viewTemplates') }}">Manage Templates</a>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column" style="gap: 1rem;">
		<div class='d-flex flex-column px-3 pt-3 pb-3 border bg-light align-self-stretch' style='max-width: 18rem;'>
			<h6><label class="form-control-label mb-2">Employee List</label></h6>
			<ul class="list-group mb-2">
			{% if shift.assignments %}
			  {% for assignment in shift.assignments %}
			  <li class="list-group-item d-flex justify-content-between align-items-start" style='overflow-x: scroll; color: {{ assignment.colorize() }};'><span class='me-auto'><b>{{assignment.user.external_id|string}}</b>{{assignment.render()}} {{ assignment.user.name }}</span>
			  </li>
			  {% endfor %}
			{% else %}
				<li class="list-group-item" style='overflow-x: scroll; color: darkgray;'><i>No Employees...</i></li>
			{% endif %}
			</ul>
			<button class="btn btn-outline-primary w-100" onclick="fetchAssignments()" data-bs-toggle="modal" data-bs-target="#manageEmployeesModal">Manage Employees</button>
		</div>
		<div class='d-flex flex-column px-3 pt-3 pb-3 border bg-light' style='max-width: 18rem; max-height: 40vh; overflow-y: scroll;'>
			<h6>Employee List key</h6>
			<ul class="list-group mb-2">
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #cfc102;">(REQ)</span> = <span>Pending Request</span></li>
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #982ff4;">(R)</span> = <span>Ride Along</span></li>
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #f19e38;">(T)</span> = <span>Trainee</span></li>
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #0000f5;">(A)</span> = <span>Assigned, Yet to Confirm</span></li>
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #ea3728;">(C)</span> = <span>Covering</span></li>
				<li class="list-group-item" style='overflow-x: scroll;'><span style="color: #000000;">(P)</span> = <span>Probationary</span></li>
			</ul>
		</div>
	</div>

</div>


<div class="modal fade" id="deleteShiftModal" tabindex="-1" role="dialog" aria-labelledby="deleteShiftModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteShiftModalTitle">Delete Shift</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      	Continuing will <b><u>PERMANENTLY DELETE</u></b> this shift. The shift will be completely removed from employees' schedules and employees using it to reach their shift minimum will now be under the shift minimum.<br>
      	If possible, it is advised to <b>edit</b> the shift rather than delete it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method='POST' action='{{ shift_id }}/delete'>
			{{ deleteShiftForm.hidden_tag() }}
			{{ deleteShiftForm.submit(class='btn btn-danger') }}
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manageEmployeesModal" tabindex="-1" role="dialog" aria-labelledby="manageEmployeesModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageEmployeesModalTitle">Manage Employees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      	<table class="table table-striped table-bordered table-sm">
			    <thead>
			      <tr>
			        <th class="text-center" scope="col">Employee</th>
			        <th class="text-center" scope="col">Name</th>
			        <th class="text-center" scope="col">Confirmed?</th>
			        <th class="text-center" scope="col">Approved?</th>
			        <th class="text-center" scope="col">Edit</th>
			      </tr>
			    </thead>
			    <tbody id='assignmentTable'>
			    	{% for assignment in shift.assignments %}
			    		<tr>
			    			<td class="text-center">{{assignment.user.external_id}}{{assignment.render()}}</td>
			    			<td class="text-center">{{assignment.user.name}}</td>
			    			<td class="text-center">{{assignment.confirmed}}</td>
			    			<td class="text-center">{{not assignment.request}}</td>
			    			<td class="text-center">
				    			<div class="dropend">
					    			<button type="button" class="btn btn-xs btn-outline-primary dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"><span data-feather="edit-3"></span></button>
					    			<ul class="dropdown-menu">
									    <li><button class="dropdown-item text-success" onclick=""><span data-feather="check"></span> Approve</button></li>
									    <li><button class="dropdown-item text-danger" onclick=""><span data-feather="trash-2"></span> Delete</button></li>
									    <li><button class="dropdown-item text-primary" onclick=""><span data-feather="user-check"></span> Toggle confirmed</button></li>
									  </ul>
								  </div>
							  </td>
			    		</tr>
			    	{% endfor %}
			      {# <tr>
			        <td><input type="text"></td>
			        <td><input type="text"></td>
			        <td><input type="text"></td>
			        <td>w</td>
			        <td>t</td>
			       </tr> #}
			     </tbody>
			  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

			  {# {% if assignment.request %}
			  	<span class='btn-group'>
			  	<a class="btn btn-xs btn-outline-success"><span data-feather="check"></span></a>
			  	<a class="btn btn-xs btn-outline-danger"><span data-feather="x"></span></a>
			  	</span>
			  {% endif %} #}

{% endblock %}