{% extends 'layout.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2" class="align-self-center">
		Template Manager
	</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<a href="{{ url_for('admin.configureSchedule') }}" type="button" class="btn btn-sm btn-outline-primary mb-2">
	      <span data-feather="calendar" class="align-text-bottom"></span>
	      Schedule
	    </a>
	</div>
</div>

<div class="table-responsive" {% if unavail %} style="opacity: 25%;" {% endif %}>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">Start Hour</th>
        <th scope="col" class="text-center">Template</th>
      </tr>
    </thead>
    <tbody>
    {% for hour in hours %}
      <tr>
        <td class="text-center">{{hour}}</td>
        <td class="text-center">
        {% for template in templates %}
          {% if template.startTime[:2]+'00' == hour %} 
          <a href="{{ url_for('admin.editTemplate', template_id=template.id) }}">{{ template.name }}</a>,
          {% endif %}
    	{% endfor %}
    	<a href="{{ url_for('admin.templateManager', hour=hour) }}" class="add-shift-link">
  			<span data-feather="plus-circle" class="align-text-bottom"></span> Create
		  </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}